.footer {
  width: 100%;
  background-color: #f8f9fa; /* Example background color */
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
}

.footer-table {
  width: 100%; 
  border-collapse: collapse; /* Remove space between borders */
  margin: 0 auto; /* Centers the table in the footer */
}

.footer-table th, .footer-table td {
  border: 2px solid #0294A5; /* Excel-like grid lines */
  text-align: left;
  padding: 8px;
}

.footer-table th {
  background-color: #e7e7e7; /* Header background */
  padding-top:10px;
}
.col-id { width: 100px; }
.col-status { width: 100px; }
.col-received-at { width: 100px; }
.col-description { width: 100px; }
.col-statusviewer {width: 100px; }