.content {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
  }
  
  .image-container {
    width: 55%;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top:-100px;
    margin-right: 50px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .login-container {
    margin-top: -50px;
    padding: 1rem;
  }
  
  .custom-image {
    width: 60%;
    height: 100%;
    border-radius: 10px;
  }
  