.DataList-item {
    /* display: flex; */
    align-items: center;
    margin-bottom: 1px;
    padding: 1px;
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.DataList-item:hover {
    background-color: #e9e9e9; /* Slightly darker on hover */
}

.DataList-icon {
    margin-right: 10px;
    /* Add specific styles for your icon here */
}

.DataList-text {
    font-size: 7px; /* Adjust as needed */
    color: #333; /* Dark grey text */
    /* Add more text styling as needed */
}

/* Example of color coding for different types of messages */
.DataList-item.critical {
    border-left: 4px solid red; /* Left border for critical messages */
}

.DataList-item.warning {
    border-left: 4px solid yellow; /* Left border for warning messages */
}

.DataList-item.info {
    border-left: 4px solid green; /* Left border for informational messages */
}
