/* .Regions {
    text-align: center;
  }
   */
  /* .Regions-header {
    background-color: #dad9db;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

  h1 {
    margin-bottom: 20px;
    color: black;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  button:active {
    background-color: #777;
    transform: scale(0.98);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 20px auto;
    text-align: left;
  }
  
  li {
    
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #777;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #555;
  }
  
  .button-on {
    background-color: green;
    color: white; 
  }
  
  .button-off {
    background-color: red;
    color: white; 
  }
  
.DataList {
    /* margin-top: 10px; */
    /* flex: 1;  */
    border: 1px solid #ccc; /* Adds a border */
    padding: 20px; /* Adds padding inside the box */
    background-color: #6d6868; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    overflow-y: auto; /* Makes it scrollable if content is too long */
}
