body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

#sidebar {
  margin-top:65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #0294A5;
}

#map {
  margin-top:65px;
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
}

.layer-button {
  margin-bottom: 10px;
  padding: 15px;
  height: 50px; /* Set a fixed height for all buttons */
  line-height: 20px; /* Adjust line height to center text */
  width: calc(200px);
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.layer-button:hover {
  background-color: #0294A5;
}

.back-button {
  margin-top: 20px;
  padding: 10px;
  height: 50px; /* Set a fixed height for the back button */
  line-height: 20px; /* Adjust line height to center text */
  width: calc(200px);
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.back-button:hover {
  background-color: #0294A5;
}

/* Styling for the popup */
.mapboxgl-popup {
  max-width: 300px;
  font-family: "Arial", sans-serif;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup h3 {
  margin: 0;
  font-size: 18px;
  color: #ffcc00;
}

.layer-button.selected {
  background-color: #017080;
  color: #fff;
}

.triangle-marker {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 26px solid #ff5733; /* Set the color of your triangle */
  cursor: pointer;
}

#legend {
  margin-top:60px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #5aaaaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  padding-right:50px;
}

.legend-title {
  margin-left:28px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.legend-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.legend-marker {
  width: 25px;
  height: 25px;
  background-color: #ff5733; /* Triangle color */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle shape */
  margin-right: 10px;
  border-radius: 3px;
}

.legend-text {
  font-size: 16px;
  color: #333;
}
.layer-button_home{
  margin-top:63%;
  margin-bottom: 10px;
  padding: 15px;
  height: 50px; /* Set a fixed height for all buttons */
  line-height: 20px; /* Adjust line height to center text */
  width: calc(80px);
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}






.navbar {
  display: grid;
  grid-template-columns: auto repeat(8, 1fr) auto; 
  align-items: center;
  background-color: #5c646d;
  padding: 0.5rem 0;
  gap: 0.5rem; 
}

.left-logo,
.right-logo {
  padding: 0 1rem; /* Adjust padding for logos */
}

.logo {
  height: 50px;
  display: block; /* Ensures the logo takes up the full space of its container */
}

.navbar {
  text-align: center; /* Center text in the nav link columns */
  font-family: 'SF-UI', Arial, sans-serif;
  font-weight: bold;
}

.navbar a {
  display: block; /* Make the links take up the full grid cell */
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #0294A5;
  color: #fff;
}

.active {
  background-color: #017080;
  color: #fff;
}

.navbar.disabled a {
  pointer-events: none;
  color: grey; /* or any other style to indicate it's disabled */
}
